@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=asap@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import "tailwindcss";
@import 'tailwindcss/utilities.css';
@import '@glidejs/glide/dist/css/glide.core.min.css';
@import '@glidejs/glide/dist/css/glide.theme.min.css';

@layer theme, utilities;

@theme {
  --font-display: 'Open sans', 'sans-serif';
  --font-asap: 'Asap', 'sans-serif';

  --color-background-primary: #f8f4ef;
  --color-background-primary-darker: #f3eae4;
  --color-text-primary: #593833;
  --color-text-primary-light: #663b37;
  --color-primary: #eb6c30;
  --color-secondary: #f8bb20;
  --color-danger: #ec4e20;
  --color-success: #6cae75;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #cfc6c0;

  --letter-spacing: 2px;
}

@layer utilities {
  .background-primary {
    @apply bg-background-primary;
  }
  .background-primary-darker {
    @apply bg-background-primary-darker;
  }
}

@layer components {
  .custom-container {
    @apply container mx-auto flex items-center justify-between px-4 md:px-12 lg:px-32;
  }

  .button {
    @apply px-8 py-3 rounded-lg text-white cursor-pointer font-semibold;
  }
  .button-primary { @apply bg-primary }
  .button-primary:hover { @apply bg-secondary }


  .button-outline {
    @apply px-12 py-4 rounded-lg cursor-pointer font-semibold border-2 ;
  }
  .button-outline-primary { @apply border-primary text-text-primary;}
  .button-outline-primary:hover { @apply bg-primary text-white }
}
